.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
 text-align: center;
 text-decoration: underline;
}
h2 {
    text-align: center;
}
.news {
    background-color: lightblue;

}
.title{
    text-decoration: underline;
    text-align: center;
}
p {
    padding-left: 1em;
}
a{
    padding-left: 1em;
    color: blue;
}
.comment {
    display: flex;
    justify-content: flex-start;
}
.presentation {
    text-align: center;
}
form {
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    padding-bottom: 2em;
    text-align: center;
}

img{
margin-left: 30%;    
}